# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
*.egg-info/
data/chroma/
.docs/chroma/
docs/chroma/
backend/data/

# Node
node_modules/
build/
dist/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
